body{
     background-color:#FD612E;
}
.brand-img{
  width: 30%;
  padding-left: 10px;
}
#landing-page-gallery{
  padding-top: 3rem;
}
.nav-item{
  padding-left: 10px;
  padding-right: 10px;
background-color:#FD612E;
font-size: 1.1rem;
}
/* ************************************* */
*{
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
#product-demo{
  padding: 20px;
  width: 1280px;
  margin: 40px auto;
}
section ul{
  display: flex;
  margin-bottom: 10px;
}
section ul li{
  list-style: none;
  font-size: 1.1rem;
  padding: 30px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}
section ul li.active{
font-weight: bold;
}
.product{
  display: flex;
  flex-wrap: wrap;
}
.product .itemBox{
  position:relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}
.product .itemBox img{
  position: absolute;
  top: 0
  left :0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* *********************** */
#newsletter{
  background-color: #FD612E;
}
.newsletter-org-logo{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
}
.newsletter-body{
  font-size: 1.3rem;
  padding: 10px;
}
